form {
  padding-bottom: 80px;
}

.overlay {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

body.lock-scroll {
  overflow: hidden !important;
}

.container-form {
  display: flex;
  gap: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #fff;
  z-index: 10;
  padding: 12px;
}

.container-form p {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}

.container-form div {
  width: 208px;
}

.container-form input {
  width: 100%;
  height: 35px !important;
  border-radius: 2px !important;
}

.container-form select {
  width: 100%;
  height: 35px !important;
  border-radius: 2px !important;
}

.container-form a {
  text-decoration: none;
  color: var(--neutral-01, #fff);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  height: 35px;
  border-radius: 2px;
  background: var(--primary-lime-green-04, #5cb85f);
}
